/* Global Styles */
body { font-family: 'Oxygen', Arial, Helvetica, sans-serif; font-size: 16px; color: #444; }

h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }

p { padding-bottom: 15px; line-height: 175%; }

a       { color: #999; }
a:hover { color: #dc0000; }
a:focus { outline: 0; }

::selection      { background-color: #000; color: #fff; }
::-moz-selection { background-color: #000; color: #fff; }

.red { font-weight: bold; color: #900; }
.fees a { color: #900 !important; }

#container { margin: 0 auto; }
.section { padding: 60px 30px; overflow: auto; }

header { padding: 30px; overflow: auto; }
header #logo { width: 350px; height: 40px; float: left; }

nav { padding-top: 8px; height: 32px; float: right; }
nav ul li { margin-left: 20px; float: left; }
nav ul li a { height: 32px; display: block; line-height: 32px; text-decoration: none; }

#hero { padding: 60px 30px; height: 480px; background: url('/img/banner.jpg') no-repeat top right; overflow: auto; }
#hero h1 { padding: 20px; float: left; background-color: #fff; text-transform: uppercase; letter-spacing: 2px; }
#hero h1 span { color: #dc0000; }
#hero h2 { margin-top: 20px; clear: both; padding: 20px; float: left; background-color: #fff; font-size: 18px; font-weight: normal; }
#hero h2 a { color: #dc0000; }

#community .section { background-color: #111; color: #999; }
#community h2 { padding: 10px; display: inline-block; background-color: #fff; text-transform: uppercase; letter-spacing: 2px; color: #444; }
#community h3 { color: #fff; font-weight: normal; }
#community .left { float: left; }
#community .right { margin-left: 50px; float: left; }
#community ul li { color: #fff; }

#photos .section { padding-bottom: 30px; background: #333 url('/img/bg_mark.png') repeat 0 0; color: #999; }
#photos h2 { padding: 10px; display: inline-block; background-color: #fff; text-transform: uppercase; letter-spacing: 2px; color: #444; }
#photos .photo { margin: 0 30px 30px 0; float: left; }
#photos .photo a { display: block; border: 2px solid #fff; }
#photos .photo a:hover { border-color: #dc0000; }

#floorplans .section { background-color: #ddd; }
#floorplans h2 { padding: 10px; display: inline-block; background-color: #fff; text-transform: uppercase; letter-spacing: 2px; }
#floorplans .floorplan_wrapper { margin-right: 20px; padding: 10px; float: left; }
#floorplans .floorplan_wrapper .thumb img { margin: 0 auto; }
#floorplans .floorplan_wrapper .desc { margin-top: 10px; text-align: center; line-height: 150%; }
#floorplans .floorplan_wrapper img:hover { background-color: #fff; }

#contact .section { background-color: #111; color: #999; }
#contact h2 { padding: 10px; display: inline-block; background-color: #fff; text-transform: uppercase; letter-spacing: 2px; color: #444; }
#contact h3 { color: #fff; }
#contact .left { float: left; }
#contact .right { margin-left: 50px; float: left; }
#contact .address { color: #fff; }
#contact b { color: #fff; }

footer { padding: 20px 30px; background-color: #080808; font-size: 14px; color: #555; }
footer a { color: #555; }

/* Global Back to Top Button */
#back_to_top { width: 69px; height: 69px; position: fixed; bottom: 0px; right: 0px; display: none; }
#back_to_top a { width: 69px; height: 69px; display: block; background: url('/img/plugins/back_to_top/arrow.png') no-repeat 0 0; text-indent: -9999px; overflow: hidden; outline: none; border: 0; }
#back_to_top a:hover { background-position: 0 -69px; }
